/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C2FFC7; /* Fondo suave */
    color: #526E48; /* Texto general */
}

.blog-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9EDF9C; /* Fondo de la sección */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-header {
    text-align: center;
    margin-bottom: 30px;
}

.blog-header h1 {
    font-size: 2.5em;
    color: #62825D; /* Título */
    margin: 0;
}

.article {
    background: #fff; /* Fondo blanco para destacar los artículos */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.article img {
    width: 100%;
    height: auto;
}

.article-content {
    padding: 15px;
}

.article-content h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #526E48; /* Verde oscuro */
}

.article-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #62825D; /* Texto de los párrafos */
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #526E48; /* Botón de "Leer más" */
    font-weight: bold;
    border: 1px solid #526E48;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.read-more:hover {
    background-color: #526E48; /* Fondo verde oscuro */
    color: #fff; /* Texto blanco al pasar el mouse */
}
